fastapi
uvicorn
motor
apscheduler
pydantic[email]
dotenv
langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27
langchain-groq==0.2.0
groq==0.18.0
ddgs
duckduckgo-search
certifi
